{% extends "base.html" %}
{% load static %}

{% block title %}Diário - Lume{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/diario.css' %}">
{% endblock %}

{% block content %}
<form method="post" action="{% url 'criar_diario' %}">
    {% csrf_token %}
    <div class="diario-box">
        <div class="diario-header">
            <span class="data">{{ data_hoje }}</span>
            <input type="text" name="titulo" class="titulo" placeholder="Título (opcional)">
            <div class="emojis">
                <button type="button" class="emoji" data-emoji="😊">😊</button>
                <button type="button" class="emoji" data-emoji="😐">😐</button>
                <button type="button" class="emoji" data-emoji="😢">😢</button>
                <button type="button" class="emoji" data-emoji="😠">😠</button>
            </div>
            <input type="hidden" name="emoji" id="emojiSelecionado">
        </div>
        <textarea name="texto" placeholder="Digite" class="texto"></textarea>
        <button type="submit" class="salvar-btn">Salvar</button>
    </div>
</form>

{% for registro in diarios %}
<div class="registro">
    <span class="data">
        {{ registro.data_criacao|date:"d/m/Y" }}
        {% if registro.titulo %} - <strong>{{ registro.titulo }}</strong>{% endif %}
    </span>
    <p class="conteudo">{{ registro.conteudo }}</p>
    <div class="acoes">
        <a href="{% url 'edit_diario' registro.id %}"><button class="editar-btn" type="button">Editar</button></a>
        <a href="{% url 'delete_diario' registro.id %}">
            <button class="excluir-btn" type="button">Excluir</button>
        </a>
        
    </div>
</div>
{% empty %}
<p>Sem registros ainda.</p>
{% endfor %}
{% endblock %}

{% block extra_js %}
<script>
    const emojiButtons = document.querySelectorAll('.emoji');
    const emojiInput = document.getElementById('emojiSelecionado');
    emojiButtons.forEach(button => {
        button.addEventListener('click', () => {
            emojiButtons.forEach(btn => btn.classList.remove('selecionado'));
            button.classList.add('selecionado');
            emojiInput.value = button.dataset.emoji;
        });
    });
</script>
{% endblock %}